.movie {
  margin: 1rem 0rem;
  padding: 1rem;
  /* background-color: rgb(71, 168, 115); */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
  background: linear-gradient(to right, #11998e, #38ef7d);
}

.movie strong {
  font-size: 2rem;
  color: #2f0743;
  position: relative;
  z-index: 10;
}

.movie strong:before {
  content: "";
  background-color: #ffe000;
  position: absolute;
  width: calc(100% + 4px);
  height: 110%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}
.movie h3 {
  color: #fff;
  margin: 0;
  font-size: 1rem;
}
