* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0%;
  background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #0f0c29;
}
